<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head')%>
<body>
    
    
    <!-- header -->
    <%- include ('../partials/header')%>
    
    <!-- main start -->
    
    <main class="main_product">
        
        
        <section class="product_detail">
            <h1 class="title_mobile"><%= product.title %></h1>
            <div class="product_images">
                <div class="product_ppal_image">
                    <img  src="/img/imgProducts/<%= product.image %>" alt="guitarra">
                </div>
                
                <div class="product_slider_images">
                    
                    <img class="product_slider_image" src="/img/imgProducts/<%= product.image %>" alt="guitarra">
                    <img class="product_slider_image" src="/img/imgProducts/<%= product.image %>" alt="guitarra">
                    <img class="product_slider_image" src="/img/imgProducts/<%= product.image %>" alt="guitarra">
                    <img class="product_slider_image" src="/img/imgProducts/<%= product.image %>" alt="guitarra">
                    
                </div>
            </div>
            <div class="product_information">
                <h1 class="product_name"><%= product.title %></h1>
                <h3 class="product_cost"><%= product.price %></h3>
                <span class="product_share">o en 18 cuotas de $<%= Math.round(product.price/18)  %></span>
                <p class="product_description"><%= product.description %></p>
                <div class="detail_btns">
                    <button class="btn"> Comprar </button>
                    <button class="btn">Agregar al carrito</button>
                </div>
                
                <% if(userLogged != undefined) {%> 
                    <% if(userLogged.category != 'admin') { %> 
                        
                        <% } else { %>
                            <div class="detail_btns">
                                <a class="btn" href="/productos/<%= product.id %>/edita_producto"><button class="btn">Editar</button></a>
                                <form action="/productos/borrado/<%= product.id %>?_method=DELETE" method="POST" 
                                    enctype="multipart/form-data">
                                    <button class="delete_btn"> Eliminar </button>
                                </form> 
                            </div>
                            <% } %>
                            <% } %>
                            
                        </div>
                    </section>   
                </main>
                
                <!-- footer -->
                <%- include ('../partials/footer')%>
                
                
                <!-- JS BOOSTRAP -->
                
                <!-- <script src="js/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
                    <script src="js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script> -->
                    
                </body>
                
                </html>