<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head')%>
<body>
    
    
    <!-- header -->
    <%- include ('../partials/header_admin')%>
    
    <!-- main start -->
    
    <main class="main_list">
        <%- include ('../partials/menu_admin')%>
        <section style="padding-top: 2%;">
            <h1>Alta de Producto</h1>
            <form style="height: 90%;" class="form_reg"action="/productos/carga_producto" method="POST" enctype="multipart/form-data">
                
                <label for="prod_name" class="label_reg">NOMBRE</label>
                <input  type="text" id="prod_name" name="prod_name" required>
                
                <label for="prod_desc" class="label_reg">DESCRIPCION</label>
                <textarea type="email" id="prod_desc" name="prod_desc" style="width: 100%; margin-bottom: 15px; border-radius: 12px; border-color: #ededed;" rows="10"required></textarea> 
                
                <label for="prod_img" class="label_reg">IMAGEN</label>
                <input style="border-style: none;" type="file"  accept=".jpg,.png" id="prod_img" name="prod_img" required> 
                
                <label for="prod_cat" class="label_reg">CATEGORIA</label>
                <select name="prod_cat" id="prod_cat" >
                    <% categories.forEach(category => { %>
                        <option value="<%= category.title %>"><%= category.title %> </option> 
                        <% }) %> 
                </select>
                    
                <label for="prod_subcat" class="label_reg">SUBCATEGORIA</label>
                <select name="prod_subcat" id="prod_subcat" >
                    <% subCategories.forEach(subCategory => { %>
                        <option value="<%= subCategory.title %>"><%= subCategory.title %> </option> 
                        <% }) %> 
                </select>                    
                    
                    <label for="prod_color" class="label_reg">COLORES</label>
                    <input type="text" id="prod_color" name="prod_color" required>
                    
                    <label for="prod_price"  class="label_reg">PRECIO</label>
                    <input class="input_reg" type="text" id="prod_price" name="prod_price"  minlength="5"  maxlength="10" required>
                    <div>
                   <input type="checkbox" id="cbox1" value="first_checkbox" name="offer"> 
                   <label for="offer">En oferta</label>
                   </div>
                    
                    <button class="btn no_disapear" type="submit">CREAR</button>
                </form>
                
            </section>
        </main>
        
        
        <!-- footer -->
        <%- include ('../partials/footer')%>
        
        <!-- JS BOOSTRAP -->
        
        <!-- <script src="js/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script> -->
            
        </body>
        
        </html>