<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head')%>

<body>  
 <!-- header -->
    <%- include ('../partials/header')%>
    <!-- main start -->
    <main class="main_list">
        <section class="select_column">
            <a class="modal_filter_btn"  href="#modal_filtros" class="link">
                FILTRAR
            </a>
            <ol class="list">
                <span>Categorias</span>
                <li class="link">Cuerdas</li>
                <li class="link">Percusión</li>
                <li class="link">Teclas</li>
                <li class="link">Vientos</li>
                <span>Costo</span>
                <li class="link">Menor a Mayor</li>
                <li class="link">Mayor a Menor</li>
                <span>Envio</span>
                <li class="link">Gratis</li>
                <li class="link">Inmediato</li>
                <br>
                <li class="link">Oferta</li>
            </ol>
        </section>
            <!-- <a href="/productos/detalle" class="item_produc_list" >
                <img  class="img_product_list" src="/img/guitarra.jpg" alt="">
                <div class="txt_product_list">
                    <h5 class="center_alig link">Fender Jaguar</h5>
                    <span class="price_item_menu_2 link">$5000</span>
                </div>
            </a>   -->
         
            <!-- offers section -->
            <section class="menu_list">
                <% products.forEach(product => { %>
                <a href="/productos/detalle/<%= product.id %>" class="item_menu_3 link" >
                    <img  class="img_item_menu_2" src="/img/imgProducts/<%= product.image %>" alt="">
                    <div class="item_menu_off_txt_2">
                        <span><%= product.subcategory %></span> 
                        <h5 class="center_alig"><%= product.title %></h5>
                        <span class="price_item_menu_2">$<%= product.price %></span>
                    </div>
                </a>  
                <% }) %>
        </section>
    </main>

      <!-- footer -->
      <%- include ('../partials/footer')%>
    
    
      <!-- JS BOOSTRAP -->
      
      <!-- <script src="js/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
          <script src="js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script> -->
          
      </body>
      
      </html>