<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head')%>

<body>  
    <!-- header -->
    <%- include ('../partials/header')%>
    <!-- main start -->
    <main>
       <!-- <%- include ('../partials/carousel')%> -->
       
        <section class="slider">
            <img class="slider_img" src="/img/slider_cm_black_friday.jpeg" alt="">
        </section>
        <section class="slider_mobile">
            <img  class="slider_img"  src="/img/slider_cm_black_friday_mobile.jpg" alt="">
        </section>

        <h3>CATEGORÍAS</h3>
        <section class="sec_scroll">
            <div class="div_scroll">
            <% categories.forEach(category => { %>
            <a href="/productos/lista" class="item_menu">
                <img src="/img/categories/<%= category.image %>" class="img_category" alt="">
                <div class="info_item_menu">
                    <img class="icon_category"  src="/img/categories/<%= category.icon %>" alt="">
                    <h4><%= category.title %></h4>
                    <div class="line_2"></div>
                    <p><%= category.description %></p>
                </div>
            </a>
            <% }) %>
             </div>
        </section>
        <!-- web info section -->
        <section class="web_info">
            <div class="web_info_box">
                <img class="web_info_img" src="/img/icon_tag_price.svg" alt="">
                <div class="web_info_txt">
                    <h5 class="left_alig">IGUALAMOS LOS COSTOS</h5>
                    <p>Si encontrás un instrumento que vendemos en otra <br>
                        Tienda oficial, más barato lo igualamos.   <a href="" class="link">Conocé más.</a></p>
                     
                    </div>
                </div>
                <div class="web_info_box">
                    <img class="web_info_img"  src="/img/icon_truck.svg" alt="">
                    <div class="web_info_txt" >
                        <h5>COMPRÁ ONLINE Y RECIBÍ EN TU CASA</h5>
                        <p>Conocer medios, costos y más <a href="" class="link"> clickeando aquí</a></p>
                    </div>
                </div>
            </section>
            <!-- offers section -->
            <h3>OFERTAS IMPERDIBLES</h3>
            
            <section class="sec_scroll">
               <div class="div_scroll">
                <% products_in_sale.forEach(product => { %>
                    
                    <a href="/productos/detalle/<%= product.id %>" class="item_menu_2 link" >
                        <img  class="img_item_menu_2" src="/img/imgProducts/<%= product.image %>" alt="imagen de producto">
                        <div class="item_menu_off_txt_2">
                            <span class="center_alig price_item_menu_2 title_prod">$<%= product.price %></span>
                            <span><%= product.subcategory %></span>                             
                            <h5 class="center_alig title_prod"><%= product.title %></h5>
                        </div>
                    </a>
                    
                    <% }) %>
                </div>
                </section>

                <section class="slider">
                    <img class="slider_img" src="/img/slider_cm_ernie_ball.jpg" alt="">
                </section>
                <section class="slider_mobile">
                    <img  class="slider_img"  src="/img/slider_cm_ernie_ball_mobile.jpg" alt="">
                </section>    
                
                <!-- section web info -->
                <section class="web_info_2">
                    <div  class="web_info_box_2" >
                        <img class="web_info_img_2" src="/img/icon_credit_card.svg" alt="">
                        <div class="web_info_txt_2">
                            <h5 class="center_alig">Elegí cómo pagar</h5>
                            <p class="center_alig">Podés pagar con tarjeta, débito, efectivo <br>
                                o hasta 12 cuotas sin tarjeta <br>
                                con un Crédito Musical.</p>
                                <a href=""class="link">Formas de pago</a>
                            </div>
                        </div>
                        <div  class="web_info_box_2" >
                            <img class="web_info_img_2" src="/img/icon_box.svg" alt="">
                            <div class="web_info_txt_2">
                                <h5 class="center_alig">Envío gratis desde $ 3.500</h5>
                                <p class="center_alig">
                                    Solo por estar registrado en Cajita Musical tenés 
                                    <br> 
                                    envíos gratis en miles de productos. Es un beneficio
                                    <br>
                                    de Cajita Puntos.
                                </p>
                                    <a href="" class="link">Formas de pago</a>
                                </div>
                            </div>
                            <div  class="web_info_box_2" >
                                <img  class="web_info_img_2" src="/img/icon_shield.svg" alt="">
                                <div  class="web_info_txt_2">
                                    <h5 class="center_alig">Seguridad, de principio a fin
                                    </h5>
                                    <p class="center_alig">¿No te gusta? ¡Devolvelo! En Mercado Libre, no hay<br>
                                        nada que no puedas hacer, porque estás siempre<br>
                                        protegido.</p>
                                        <a href=""class="link">Cómo te protegemos</a>
                                    </div>
                                </div>
                                
                                </section>
                                
                                <section class="web_info">
                                    <div class="web_info_box info_2">
                                        <h5>Botón de arrepentimiento</h5>
                                        <a href=""class="link">Cancelar una compra</a>
                                        <a href=""class="link">Cancelar una suscripción</a>
                                    </div>
                                    <div class="web_info_box info_2">
                                        <h5>Conocé las normas que aplican cuando comprás</h5>
                                        <a href="" class="link">Ver contratos de adhesión - Ley N.º 24.240 de Defensa del Consumidor</a>
                                    </div>
                                </section>
                            </main>
                            
                        
                        
                        <!-- footer -->
                        <%- include ('../partials/footer')%>
                        
                      
                        <!-- JS BOOSTRAP -->
                        
                        <!-- <script src="js/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
                            <script src="js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script> -->
                            
                        </body>
                        
                        </html>
                        